@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
/* Général */
html{
  background-color: #EEEEEE;
  transition: all 0.6s ease-out;
}
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*:not(input){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: none;
}
a{
  text-decoration: none;
}
html.black_bg{
  background-color: #3F3F3F;
}
html.white_bg{
  background-color: #EEEEEE;
}


.box{
  margin: 25vh auto 0px;
  background-color: #3F3F3F;
  box-shadow: 0 5px 15px 0 rgba(62, 57, 107, 0.2);
  padding: 10px 15px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFF;
  position: relative;
}
.box .logo{
  width: 92%;
  position: absolute;
  margin: -25% auto 0;
}
.box .logo img{
  width: 100%;
}
.box .button{
  padding: 8px 15px;
  border-radius: 6px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  width: 100%;
  margin: 10px auto;
  color: #FFF;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
}
a.back div{
  color: darkgray;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  margin-top: -49px;
}
a.back div:hover{
  color: #9a9a9a;
}
.sep{
  width: 100%;
  border-bottom: 1.4px solid darkgray;
  margin-bottom: 10px;
}








/* Menu */
.box.menu{
  width: 30%;
}
.box.menu ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.box.menu .button.game{
  background-color: #D80351;
}
.box.menu .button.game:hover{
  background-color: #c9034e;
}
@media (max-width: 992px){
  .box.menu{
    width: 90%;
  }
}





/**<- Contrée ->**/
.box.contree{
  width: 30%;
}
.box.contree h2, .box.contree h3{
  text-align: center;
}
.box.contree h2{
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 35px;
}
.box.contree h3{
  font-weight: normal;
  font-size: 18px;
  margin-top: 5px;
}
/* Contrée menu */
.box.contree a div.create, .box.menu .game{
  background-color: #00A3EE;
}
.box.contree a div.join{
  background-color: #F5D908;
}
.box.contree a div.create:hover, .box.menu .game:hover{
  background-color: #009cdf;
}
.box.contree a div.join:hover{
  background-color: #e6ca08;
}
/* Contrée création de partie */
.box.contree.start form .private{
  font-size: 13px;
  font-style: italic;
  color: darkgray;
}
.box.contree.start form input[type='number']{
  padding: 8px 5px;
  width: 80px;
  margin-left: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
}
.box.contree form input[type='submit']{
  background-color: #D80351;
}
.box.contree form input[type='submit']:hover{
  background-color: #c9034e;
}
.box.contree form input[type='submit']:disabled{
  cursor: not-allowed;
  background-color: darkgray;
}
/* Contrée rejoindre la partie */
.box.contree.username form input[type='text']{
  padding: 8px 5px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  text-align: center;
}
.box.contree.username form #used{
  text-align: center;
  display: none;
  color: crimson;
  margin-top: 6px;
}
.box.contree.username form #used span{
  font-weight: bold;
}
.box.contree.username form #used.show{
  display: block;
}
.box.contree.username #buttonCapacity{
  display: none;
}
.box.contree.username #buttonCapacity .start{
  background-color: #D80351;
}
/* Contrée Salle du jeu */
.box.contree.play{
  width: 95%;
  margin-top: 12vh;
  background-color: #FFFFFF;
  color: #000;
}
.box.contree.play .logo{
  width: 100%;
  margin: -100px 0 0 0;
}
.box.contree.play .logo div{
  width: 25%;
  margin: 0 auto;
}
.box.contree.play h2{
  font-size: 25px;
  margin-top: 0px;
}
.box.contree.play a.back div{
  margin-top: -44px;
}
.box.contree.play .shareInput{
  position: absolute;
  right: 15px;
  margin-top: -52px;
}
.box.contree.play .shareInput input{
  width: 405px;
  border-radius: 5px;
  border: 1px solid darkgray;
  text-align: center;
  padding: 5px 5px;
  font-size: 13px;
}

/* Contrée En attente des joueurs */
.box.contree.play #wait{
  margin: 0 auto;
  width: 100%;
}
.box.contree.play #wait *{
  transition: all 0.6s ease-out;
}
.box.contree.play #wait h2{

}
.box.contree.play #wait .players{
  display: flex;
  flex-wrap: wrap;
}
.box.contree.play #wait .players .player{
  flex: 1 0 20%;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(62, 57, 107, 0.2);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 8px;
  background-color: #3F3F3F;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}
.box.contree.play #wait .players .player .avatar{
  height: 120px;
  padding: 0 20px 10px 20px;
}
.box.contree.play #wait .players .player .avatar img{
  height: 100%;
  border-radius: 8px;
}
.box.contree.play #wait .players .player .avatar img.load{
  height: 50%;
  margin-top: 12%;
}
.box.contree.play #wait .players .player p{
  color: #a3a3a3;
  font-size: 15px;
  font-weight: lighter;
  margin: 0 0 5px 0;
}
.box.contree.play #wait .players .player p.username{
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 10px 0;
}
.box.contree.play #wait .players .player .choose{
  background-color: #c9034e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px;
  padding: 8px 16px;
  margin-top: 5px;
  display: inline;
  line-height: 32px;
}
/* Contrée choix d'attribution des équipes */
.box.contree.play #choices{
  width: 100%;
}
.box.contree.play #choices .button.choice{
  background-color: #D80351;
  width: 49.5%;
  margin: 0;
  display: inline-block;
}
.box.contree.play #choices .button.choice.first{
  margin-right: 1%;
}
.box.contree.play #choices .button.choice:hover{
  background-color: #c9034e;
}
/* Contrée équipe faite par le tirage des rois ----- A CHANGER */
.box.contree.play #king_scene table{
  width: 100%;
}
.box.contree.play #king_scene table .box_player .stack{
  position: absolute;
  overflow: hidden;
  height: 100px;
  margin-left: 9%;
}
.box.contree.play #king_scene table .box_player.top .stack .card{
  margin-top: -100px;
}
.box.contree.play #king_scene table .players{
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(62, 57, 107, 0.2);
  padding: 10px 15px;
  margin: auto;
  border-radius: 8px;
  background-color: #3F3F3F;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
}
.box.contree.play #king_scene table .players .player{
  width: 50%;
  display: inline-block;
  padding: 20px;
}
.box.contree.play #king_scene table .players .player .avatar img{
  height: 100%;
  border-radius: 8px;
}
.box.contree.play #king_scene table .player p:first-of-type{
  font-weight: initial;
  font-size: 13px;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #c9034e;
  border-radius: 15px;
}
.box.contree.play #king_scene table .player p:nth-child(2){
  margin-top: 5px;
  margin-bottom: 10px;
}
.box.contree.play #king_scene table .main{
  width: 40%;
  height: 300px;
}

/* Contrée séléction du co-équipier */
.box.contree.play #mates_scene .players{
  display: flex;
  flex-wrap: wrap;
}.box.contree.play #mates_scene .players button {
   flex: 1 0 30%;
   width: 30%;
   margin: 1.5%;
   -moz-appearance: none;
   -webkit-appearance: none;
   background: none;
   border: none;
 }
.box.contree.play #mates_scene .players .player:hover {
  cursor: pointer;
}
.box.contree.play #mates_scene .players .player{
  text-align: center;
  padding: 10px 15px;
  margin: auto;
  border-radius: 8px;
  background-color: #3F3F3F;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}
.box.contree.play #mates_scene .players .player .avatar{
  width: 100px;
  margin: 10px auto 0;
}
.box.contree.play #mates_scene .players .player .avatar img{
  width: 100%;
  border-radius: 8px;
}
.box.contree.play #mates_scene .players .player p.username{
  color: #FFF;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
}
/* Contrée Vue du jeu */
.box.contree.play #game_view{
  transition: all .3s ease-out;
}
.box.contree.play #game_view .teams{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  position: relative;
}
.box.contree.play #game_view .teams .team{
  flex: 1 0 46%;
  width: 46%;
  background-color: #3F3F3F;
  color: #FFF;
  margin: 0 1%;
  text-align: center;
  padding: 10px 15px;
  border-radius: 50px;
  z-index: 10;
}
.box.contree.play #game_view .teams .team span{
  background-color: #FFF;
  color: #3F3F3F;
  padding: 3px 8px;
  border-radius: 50px;
  margin-left: 10px;
}
.box.contree.play #game_view .teams .lastBid{
  bottom: -34px;
  margin: 0 0 0 44.1%;
  border-radius: 0 0 8px 8px;
  border-bottom: solid 2px rgba(0,0,0,0.2);
  border-top: none !important;
  z-index: 1;
}
.box.contree.play #game_view .teams .lastBid.T1{
  margin: 0 0 0 22%;
}
.box.contree.play #game_view .teams .lastBid.T2{
  margin: 0 0 0 74%;
}
.box.contree.play #game_view table{
  width: 100%;
}
.box.contree.play #game_view table tr td{
  position: relative;
}
.box.contree.play #game_view table .player{
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  border-radius: 8px;
  background-color: #3F3F3F;
  color: #FFF;
  width: 100%;
}
.box.contree.play #game_view table .current .player{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
  border: 2px solid #c9034e;

}
.box.contree.play #game_view table .player .avatar{
  width: 80px;
  margin: 5px auto 0;
}
.box.contree.play #game_view table .player .avatar img{
  width: 100%;
  border-radius: 8px;
}
.box.contree.play #game_view table .player p.username{
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  margin: 5px 0 2px 0;
}
.box.contree.play #game_view .deck{
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0 70px 0 0;
}
.box.contree.play #game_view.me_round .deck{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}
.box.contree.play #game_view .deck li{
  display: inline-block;
  margin-right: -85px;
  height: 200px;
  width: 150px;
}
.box.contree.play #game_view .deck li .card{
  position: absolute;
  transition: all .2s ease-out;
}
.box.contree.play #game_view.me_round .deck li .card:hover{
  margin-top: -20px;
  cursor: pointer;
}
.box.contree.play #game_view.me_round .deck .card{
  border: 2px solid #c9034e;
}
.box.contree.play #game_view .bid{
  width: 60%;
  margin: 0 auto 20px;
}
.box.contree.play #game_view.me_bid .bid{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}
.box.contree.play #game_view .bid .colors{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.box.contree.play #game_view .bid .colors label{
  width: 75px;
}
.box.contree.play #game_view .bid .colors label input{
  display: none;
}
.box.contree.play #game_view .bid .colors label div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  height: 50px;
  margin: 5px 10px;
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.box.contree.play #game_view .bid .colors label input:checked ~ div{
  border: solid 2px #c9034e;
}
.box.contree.play #game_view .bid .points{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box.contree.play #game_view .bid .points button{
  flex: 1 0 auto;
  margin: 5px 10px;
  padding: 6px 10px;
  text-align: center;
  background-color: #FFF;
  font-size: 20px;
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-weight: bold;
  color: #000;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.box.contree.play #game_view .bid button.pass{
  flex: 1 0 auto;
  margin: 5px 10px;
  padding: 6px 10px;
  text-align: center;
  background-color: #eeeeee;
  font-size: 20px;
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-weight: bold;
  color: #000;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.box.contree.play #game_view .lastBid{
  position: absolute;
  margin: -34px 0 0 47%;
  text-align: left;
  padding: 5px 30px 5px 10px;
  border-radius: 8px 8px 0 0;
  border-top: solid 2px rgba(0,0,0,0.2);
  background-color: #EEEEEE;
  color: #000;
  background-position: 80% center;
  background-repeat: no-repeat;
  background-size: 16px;
  font-size: 18px;
}
.box.contree.play #game_view table tr td .lastBid{
  margin: -34px 0 0 41%;
}
.box.contree.play #game_view table tr td .lastBid.mate{
  margin: 0 0 0 44.1%;
  border-radius: 0 0 8px 8px;
  border-bottom: solid 2px rgba(0,0,0,0.2);
  border-top: none !important;
  z-index: 1;
}

.box.contree.play #game_view .fake_card{
  height: 200px;
  width: 150px;
  margin: 0 auto;
}
.box.contree.play #game_view .center{
  width: 40%;
}
.box.contree.play #game_view .fold{
  width: 330px;
}
.box.contree.play #game_view .fold ul{
  width: 100%;
  margin: auto auto auto 25%;
}
.box.contree.play #game_view .fold ul li{
  display: inline-block;
  margin-right: -5px;
  height: 200px;
  width: 60px;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}


/* CARTES */
.card{
  height: 200px;
  width: 150px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: solid 2px rgba(0,0,0,0.2);
  padding: 6px 10px;
  position: relative;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  box-shadow: 0 5px 15px 0 rgba(62, 57, 107, 0.2);
  cursor: default;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.card.pique, .card.pique .topValue, .card.pique .bottomValue, .box.contree.play #game_view .bid .colors label div.pique, .box.contree.play #game_view .lastBid.pique{
  background-image: url("../img/pique.png");
}
.card.coeur, .card.coeur .topValue, .card.coeur .bottomValue, .box.contree.play #game_view .bid .colors label div.coeur, .box.contree.play #game_view .lastBid.coeur{
  background-image: url("../img/coeur.png");
}
.card.trefle, .card.trefle .topValue, .card.trefle .bottomValue, .box.contree.play #game_view .bid .colors label div.trefle, .box.contree.play #game_view .lastBid.trefle{
  background-image: url("../img/trefle.png");
}
.card.carreau, .card.carreau .topValue, .card.carreau .bottomValue, .box.contree.play #game_view .bid .colors label div.carreau, .box.contree.play #game_view .lastBid.carreau{
  background-image: url("../img/carreau.png");
}
.card .topValue{
  position: absolute;
  top: 6px;
  width: 120px;
  text-align: left;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px;
  left: 12px;
}
.card .bottomValue{
  position: absolute;
  bottom: 6px;
  left: 12px;
  text-align: right;
  width: 120px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.card .topValue, .card .bottomValue{
  font-weight: bold;
  font-size: 19px;
}


@media (max-width: 992px){
  .box.contree{
    width: 90%;
  }
  .box.contree.play .shareInput{
    position: initial;
    width: 100%;
    text-align: center;
    border-bottom: 1.4px solid darkgray;
    margin: 0 auto 10px;
    padding: 0 0 15px 0;

  }
  .box.contree.play .shareInput input {
    width: 100%;
    margin-top: 5px;
  }
  .box.contree.play #wait .players{
    display: block;
  }
  .box.contree.play #wait .players .player{
    width: 100%;
    margin: 5px 0;
  }
}



.box.belote{
  width: 80%;
}